<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="60 seconds" >

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <!-- Until this is fixed, we need to duplicate the logging config here and in application-cluster.yml -->
    <logger name="reactor.netty.http.client.HttpClient" level="debug"/>
    <logger name="org.hawaiiframework" level="info"/>
    <logger name="org.hawaiiframework.async" level="info"/>
    <logger name="org.hawaiiframework.async.sql" level="debug"/>
    <logger name="org.hawaiiframework.cache" level="info"/>
    <logger name="org.hawaiiframework.logging" level="debug"/>
    <logger name="org.hawaiiframework.logging.sql" level="info"/>
    <logger name="org.hawaiiframework.security" level="debug"/>
    <logger name="org.hawaiiframework.web.filter" level="debug"/>
    <logger name="org.springframework.beans" level="info"/>
    <logger name="org.springframework.web" level="debug"/>
    <logger name="org.springframework.security" level="debug"/>
    <logger name="nl.qnh" level="debug"/>
    <logger name="nl.vodafoneziggo" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>